<div class="accordion" id="accordionExample">
    <div class="accordion-item bg-dark">
      <h2 class="accordion-header aa" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Q:What is digital marketing???
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A: Digital marketing is any kind of marketing that is geared towards smartphones, laptops, tablets and basically any other device that is capable of connecting to Wi-Fi. Traditional marketing will focus on radio, TV, print and film, whereas when it comes to digital marketing we want to be thinking about apps, websites, blogs, social media, email and online content..</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item  bg-dark">
      <h2 class="accordion-header aa" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            
  Q: Would my company benefit from digital marketing?
?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A: YES YES YES. You don’t have to replace your traditional marketing efforts with digital ones, but it is 2019 and if the word digital doesn’t come into your marketing strategy then your business will not thrive. It really is as simple as that.

.</strong>
        </div>
      </div>
    </div>
    <div class="accordion- bg-dark ">
      <h2 class="accordion-header aa" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q: What is SEO?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>A: Search Engine Optimisation is the practice of using on-page and off-page tweaks and tactics to ensure that your page ranks higher on search engines. An example of one of these tactics is making sure that this blog is a minimum of 1000 words because that’s what Google prefers. Read our blog, ‘What is On-Page SEO?’ to learn more!
.</strong>
        </div>
      </div>
      </div>
      <div class="accordion-item bg-dark">
        <h2 class="accordion-header aa" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Q: What are keywords?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Answer: Keywords are the words and phrases that searchers use- usually on a search engine. These are the words that we use when looking for pages, images, videos, blogs, any kind of information or content on the web really. These keywords need to be strategically inserted into your pages and content.</strong>
          </div>
        </div>
        </div>
        <div class="accordion-item bg-dark ">
            <h2 class="accordion-header aa" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Q: How often should I update my website??
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>A: A website that sits stagnant for long periods of time, without any new or fresh content, is nothing more that an online brochure for your company. A successful website will interact with consumers and provide new and up to date information and content. Also, in terms of SEO, Google much prefers a website that is consistently updated. There’s no specific time limit on updating your website, just make sure it stays relevant. For ideas on how to update your website, check out our blog on, ‘Website Trends that will Dominate in 2020’..</strong>
              </div>
            </div>
          </div>
          <div class="accordion-item bg-dark ">
            <h2 class="accordion-header aa" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Q: Do I need a Blog?

              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>A: A blog is the most commonly used platform for sharing marketing content. In fact, in 2019 55% of marketers say that blogging is their number one marketing priority. This is because blogs appeal to consumers by providing them with entertainment and relevant information. Blogging can be used for literally any business, from a local fashion boutique to a law firm to a construction company. So in a nutshell, yes, we definitely recommend having a blog. Read our blog on ‘The 6 Most Common Blogging Mistakes’ to learn more!

.</strong>
              </div>
            </div>
          </div>

          
          </div>
