<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script
      src="https://kit.fontawesome.com/1935d064dd.js"
      crossorigin="anonymous"
    ></script>
  
</head>
<body>
  <div class="row">
    <div class="col-2">
      <h1>
        Expert in  <br />
        Digital Marketing!
      </h1>
      <p>
        Success isn't always about greatness. It's about consistency.
        Consistent <br />hard work gains success. Greatness will come.
      </p>
      <a href="https://en.wikipedia.org/wiki/Digital_marketing" target="_blank" rel="noopener noreferrer" class="btn">Explore Now &#8594;</a>
    </div>
    <div class="col-2">
      <img src="https://cdn.pixabay.com/photo/2021/03/29/18/57/social-media-6134993__340.png" alt="" />
    </div>
  </div>

  <header>
    <h1>
      Reliable, efficient delivery<br />
      <strong>Powered by Technology</strong>
    </h1>
  
    <p>
      Our Artificial Intelligence powered tools use millions of project data
      points to ensure that your project is successful
    </p>
  </header>
  
  <div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://cdn.pixabay.com/photo/2020/05/18/16/17/social-media-5187243__480.png"></div>
          <div class="card_content">
            <h2 class="card_title">Network marketing</h2>
            <p class="card_text"> method of marketing that relies on individuals harnessing their personal</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849825__340.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Affiliate marketing</h2>
            <p class="card_text">Performance-based marketing in which a business rewards one or more affiliate</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427__340.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Social media marketing</h2>
            <p class="card_text">Social media marketing is the use of social media platforms and websites to promote</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340__340.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Partner marketing </h2>
            <p class="card_text"> Partner marketing (also known as partnership marketing) is a strategic collaboration between parties</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158__340.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Email marketing</h2>
            <p class="card_text">Email marketing is the act of sending a commercial message, typically to a group of people, using email</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="https://cdn.pixabay.com/photo/2016/06/03/12/37/internet-search-engine-1433323__340.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">Telemarketing</h2>
            <p class="card_text">Telemarketing is a method of direct marketing in which a salesperson solicits prospective customers to buy products or services,</p>
            <button class="btn card_btn">Read More</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
 
  
  
  
  

  
 



  
</body>
</html>