<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.pixabay.com/photo/2020/12/09/03/10/digital-marketing-5816304__340.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849822__340.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158__340.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br>
  <br>
  <div class="container-fluid">

    <div class="jumbotron">
      <h1 class="text-center">Digi-Era</h1>
      <p class="text-center">Components That Help Improve Brand Performance.
        .</p>
    </div>
  
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2017/09/05/10/08/office-2717014__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2015/07/17/22/42/typing-849806__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2019/04/07/23/11/search-engine-optimization-4111000__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2021/02/01/15/29/social-media-marketing-5971028__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2021/01/21/10/47/email-marketing-5937010__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2019/04/29/07/04/software-development-4165307__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2015/05/12/09/13/freelancer-763730__340.jpg" class="img-thumbnail grayscale">
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img class="ani" src="https://cdn.pixabay.com/photo/2018/10/29/22/25/analysis-3782319__340.jpg" class="img-thumbnail grayscale">
        </figure>
        
