<div class="we-are-block">

  <div id="about-us-section">

    <div class="about-us-image">

      <img src="https://digitalupgrade.com/images/lobbyimage_1.jpg" width="808" height="458" alt="Lobby Image">

    </div>

    <div class="about-us-info">

      <h2>We are Digital Upgrade</h2>

      <p>Digital Upgrade, located in Evansville, IN, makes it easy for businesses to create and manage their digital presence and logistics, meaning we can make your business more efficient and profitable! We believe in our community and want to help our local business economy grow and expand. We believe in our clients, and want to assist in their digital success. The D-UP team grades ourselves on outcomes, not on sales.</p>

      <a href="/about" title="About Us Button">ABOUT US</a>

    </div>

  </div>

  <div id="history-section">

    <div class="history-image">

      <img src="https://digitalupgrade.com/images/building_pic.jpg" width="951" height="471" alt="Building Pic">

    </div>

    <div class="history-info">

      <h2>Preserving Local History</h2>

      <p>In 2018, technology companies, Desktop Doctors & Digital Upgrade found a new place to call home, at 816 N. 9th Ave. Since the takeover of the 118-year-old building (formally Stippler Tool & Supply and Crown Chair Company), there have been many renovations completed to preserve this local piece of Evansville, IN history.</p>

      <a href="https://en.wikipedia.org/wiki/Digital_marketing" title="History Button">HISTORY</a>

    </div>

  </div>

</div>
<div class="feat bg-gray pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="section-head col-sm-12">
        <h4><span>Why Choose</span> Us?</h4>
        <p>When you choose us, you'll feel the benefit of 10 years' experience of Web Development. Because we know the digital world and we know that how to handle it. With working knowledge of online, SEO and social media.</p>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_one"><i class="fa fa-globe"></i></span>
          <h6>Modern Design</h6>
          <p>We use latest technology for the latest world because we know the demand of peoples.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_two"><i class="fa fa-anchor"></i></span>
          <h6>Creative Design</h6>
          <p>We are always creative and and always lisen our costomers and we mix these two things and make beast design.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_three"><i class="fa fa-hourglass-half"></i></span>
          <h6>24 x 7 User Support</h6>
          <p>If our customer has any problem and any query we are always happy to help then.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_four"><i class="fa fa-database"></i></span>
          <h6>Business Growth</h6>
          <p>Everyone wants to live on top of the mountain, but all the happiness and growth occurs while you're climbing it</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_five"><i class="fa fa-upload"></i></span>
          <h6>Market Strategy</h6>
          <p>Holding back technology to preserve broken business models is like allowing blacksmiths to veto the internal combustion engine in order to protect their horseshoes.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="item"> <span class="icon feature_box_col_six"><i class="fa fa-camera"></i></span>
          <h6>Affordable cost</h6>
          <p>Love is a special word, and I use it only when I mean it. You say the word too much and it becomes cheap.</p>
        </div>
      </div>
    </div>
  </div>
</div>
